* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || VARIABLES */
:root {
  /* || FONTS */
  --FF: Arial, Helvetica, sans-serif;

  /* || COLORS */
  --BODY-BGCOLOR: papayawhip;
  --HEADER-BG-COLOR: rgb(214, 125, 73);
  --HEADER-BG-IMAGE: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgb(214, 125, 73)
  );
  --H1-BGCOLOR: #000;
  --H1-COLOR: whitesmoke;
  --HEADER-P-COLOR: rgb(195, 85, 0);
  --NAV-LINKS-COLOR: darkred;
  /* --NAV-LINKS-VISITED-COLOR: purple;
  --NAV-LINKS-ACTIVE-COLOR: black;
  --NAV-LINKS-HOVER-COLOR: whitesmoke;
  --NAV-LINKS-FOCUS-COLOR: black; */

  /* || BOX MODEL */
  --HEADER-BORDER-BOTTOM: rgb(122, 75, 31) solid 10px;
  --PADDING: 1rem;
  --BORDER-RADIUS: 5px;
  --H1-PADDING: 1rem;
  --HEADER-P-PADDING: 1rem 0.5rem;
  --BLACK-BORDER: 2px solid black;
  --NAV-LINKS-PADDING: 0.5rem 0.25rem;


  
  /* || FLEX AND GRID */
  --HEADER-FLEX-GAP: 1rem;

}

html {
  font-family: var(--FF);
}

body {
  background-color: var(--BODY-BGCOLOR);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: var(--HEADER-BG-COLOR);
  background-image: var(--HEADER-BG-IMAGE);

  border-bottom: var(--HEADER-BORDER-BOTTOM);
  padding: var(--PADDING);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: var(--HEADER-FLEX-GAP);
}

header > h1 {
  background-color: var(--H1-BGCOLOR);
  color: var(--H1-COLOR);
  border-radius: var(--BORDER-RADIUS);
  padding: var(--H1-PADDING);
}

header p {
  border: var(--BLACK-BORDER);
  border-radius: var(--BORDER-RADIUS);
  padding: var(--HEADER-P-PADDING);
  background: var(--HEADER-P-COLOR);
}

header nav {
  border: var(--BLACK-BORDER);
  border-radius: var(--BORDER-RADIUS);
  background-color: papayawhip;
}

header nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

nav a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: var(--NAV-LINKS-COLOR);
  padding: var(--NAV-LINKS-PADDING);
  border-bottom: var(--BLACK-BORDER);
}

nav ul li:first-child a {
  border-radius: var(--BORDER-RADIUS) var(--BORDER-RADIUS) 0 0;
}

nav ul li:last-child a {
  border-radius: 0 0 var(--BORDER-RADIUS) var(--BORDER-RADIUS);
  border: none;
}

nav a:visited {
  color: purple;
}

nav a:hover,
nav a:focus {
  opacity: 0.7;
  background: black;
  color: whitesmoke;
}

nav a:active {
  color: black;
}

main {
  padding: var(--PADDING);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-grow: 1;
}

main section {
  border: var(--BLACK-BORDER);
  border-radius: var(--BORDER-RADIUS);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  /* height: 1000px; */
}

.hero img {
  width: 35%;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: var(--BORDER-RADIUS);
  border: var(--BLACK-BORDER);
}

.personal-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  border: var(--BLACK-BORDER);
  border-radius: var(--BORDER-RADIUS);
  padding: 1rem;
  width: 100%;
}

.personal-details p {
  background-color: white;
  padding: 0.25rem;
  border-radius: var(--BORDER-RADIUS);
}

.bold {
  font-weight: bold;
}

main h2 {
  /* border-bottom: var(--BLACK-BORDER); */
  background-color: white;
  padding: 0.25rem;
  border-radius: var(--BORDER-RADIUS);
}

main section ol,
main section ul,
main section dl {
  line-height: 1.5;
  list-style-position: inside;
}

main section aside details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main section dt {
  font-weight: bold;
}

main section dd {
  text-indent: 1em;
}

footer {
  /* min-height: 10000px; */
  background-color: rgb(156, 84, 40);
  display: flex;
  flex-direction: column;
  gap: 1rem;

  justify-content: center;
  align-items: center;
  padding: var(--PADDING);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1rem;

  justify-items: center;
  align-items: start;
}

.grid-el {
  min-width: 100px;
  min-height: 100px;
  background-color: #000;
  color: whitesmoke;
}

.grid-el:first-child {
  grid-column: 1/3;
  background: purple;
  display: grid;
  place-content: center;
  width: 100%;
}

.grid-el:last-child {
  grid-column: 1/3;
  grid-row: 3/5;
  background-color: navy;
  width: 50%;
  height: 75%;
}

.grid-el:nth-child(2) {
  height: 100px;
  width: 100px;
}

.image-section {
  background-image:
    url("img/ante-samarzija-lsmu0rUhUOk-unsplash.jpg"),
    linear-gradient(black, blue, orange);
  background-size: cover;
  background-position: center;
  min-height: 500px;
}

.latteImg {
  width: 35%;
  height: auto;
}

table,
caption,
th,
td {
  padding: 0.25rem 0.5rem;
  border: var(--BLACK-BORDER);
}

/* animations */
.hobbies img {
    transition-property: transform;
    transition-duration: 2s;
}
.hobbies img:hover {
    transform: scale(2) /*rotate(360deg)*/;
 
    
}

section dt {
    border-radius: var(--BORDER-RADIUS);
    animation-name: placesToVisit;
    animation-duration: 3s;
    animation-iteration-count: 5;
    animation-timing-function: ease-in-out;
}

@keyframes placesToVisit {
    0% {
        background-color: transparent;
    }
    33% {
        
        background-color: darkgrey;
        color: white;
    }
    66% {
        background-color: black;
        color: whitesmoke;
    }
    100% {
        background-color: transparent;
        color: black;
    }
}
@media screen and (min-width: 320px) {
  html {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 635px) {
  html {
    font-size: 1rem;
  }
}
